*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*--------------------------*/
body{
    /* background-color: rgba(181, 50, 116, 0.505); */
    background-color: #ddd;
}

.footer{
    text-align: center;
    margin-top: 20px;
    opacity: 0.5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
